.homeWrapper {
  background-image: url('../../images/blue.jpg');
}
.homeHeading {
  color: #fff;
  font-size: 90px;
  line-height: 1;

  font-weight: 800;
}
.homePara {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 25px;
}

.weWork {
  color: #06ae5a;
  font-size: 18px;
}
.Excellent {
  color: #102579;
  font-size: 50px;
  line-height: 1.18;
  font-weight: 800;
}
.book {
  color: #102579;
  font-size: 24px;
  font-weight: 800;
}
.bookPara {
  color: #66686b;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 27px;
  /* padding: 0 15px; */
}
.bright {
  background: #f7f7f7;
  /* background:#e2e9e9; */
  padding-top: 45px;
  padding-bottom: 45px;
}
.homeWrapper {
  background-image: url('../../images/blue.jpg');
}
.homeHeading {
  color: #fff;
  font-size: 90px;
  line-height: 1;

  font-weight: 800;
}
.homePara {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 25px;
}

.weWork {
  color: #06ae5a;
  font-size: 18px;
}
.Excellent {
  color: #102579;
  font-size: 50px;
  line-height: 1.18;
  font-weight: 800;
}
.book {
  color: #102579;
  font-size: 24px;
  font-weight: 800;
}
.bookPara {
  color: #66686b;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 27px;
  /* padding: 0 15px; */
}
.bright {
  background: #f7f7f7;
  /* background:#e2e9e9; */
  padding-top: 45px;
  padding-bottom: 45px;
}
