/* .table th{
    
    font-weight: bolder;
    font-size: 90px;
    color: rgb(193, 196, 21);
 

} */
.table td{
    font-weight: normal;
    font-size: 16px;
    color: black;
    
}
.table .serial{
    color: green;
    font-weight: bolder;

}
table.table th, table.table td{
    font-size: 15px;

}